@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primaryTextColor: #030303; /* untuk judul */
    --secondaryTextColor: #3E3E3E; /* untuk paragraph */
    --thirdTextColor: #4C4C4C;
    --formTextColor: #7B7B7B;

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #FAFAFA;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;
    --formBackgroundColor: #f2f2f2;

    --primaryIconColor: #384661;
    --secondaryIconColor: #BB9F87;
    --primaryIconColorHover: #475C74;

    --sectionPadding: 6rem 0;
    
    --itemBorderRadius: 0.7rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

header{
    display: flex;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
    background-color: var(--primaryBackgroundColor);
    align-items: center;
    justify-content: space-around;
    transition: background-color normal 0.3s ease 0s;
}

main{
    padding-top: 80px;
}

div{
    display: block;
    unicode-bidi: isolate;
}

.main-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.logo-image img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    display: block;
}

nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1;
    padding: 2rem 2rem;
    list-style: none;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul{
    /* position: relative; */
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0 100px;
    float: right;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

nav ul li a{
    display: block;
    padding: 0 10px;
    color: var(--secondaryTextColor);
    text-decoration: none;
    transition: all;
    transition-property: 300ms;
    border-bottom: 2.2px solid #475c7400;
}

nav ul li a:hover{
    color: var(--primaryIconColor);
    font-weight: 500;
    border-bottom: 2.2px solid var(--primaryIconColorHover);
}

.menu-icon{
    /* background-color: #BB9F87; */
    color: var(--primaryTextColor);
    font-size: 24px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    transition: all 0.3s ease;
}

@media only screen and (max-width : 991px){
    
    header{
        justify-content: flex-start;
    }
    
    nav{
        flex-wrap: wrap;
        background-color: var(--primaryBackgroundColor);
    }

    nav ul{
        /* display: none; */
        flex-direction: column;
        display: space-between;
        width: 100%;
        background-color: var(--primaryBackgroundColor);
    }

    nav ul.hidden{
        display: none;
        justify-content: flex-end;
    }

    .menu-icon{
        display: flex;
        align-items: center;
    }

    nav ul li:first-of-type{
        padding-top: 8px;
    }
    
    nav ul li:last-of-type{
        padding-bottom: 8px;
    }

    .footerNav ul{
        flex-direction: column;
    }

    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:var(--primaryBackgroundColor);
}

.introduction img{
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
}

.introduction{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
    width: 100%;
    color: var(--secondaryTextColor);
}

.title1{
    align-self: stretch;
    color: var(--primaryIconColor);
    font-size: 6.2rem;
    text-align: center;
    font-weight: 700;
}

.title2{
    align-items: stretch;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--secondaryIconColor);
    color: transparent;
    font-size: 6.2rem;
    text-align: center;
    font-weight: 700;
    margin-top: -20px;
}

.hero{
    text-align: center;
    padding: 20px;
}

.major-university-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -15px;
    position: relative;
    padding-right: 12rem;
    padding-left: 12rem;
    flex-wrap: wrap;
    
}

.major, .university{
    font-size: 1rem;
    color: var(--secondaryTextColor);
    margin: 10px 0;
}

.intro-profile img{
    width: 340px;
    height: 400px;
    margin: 0 auto;
    display: block;
    justify-content: center;
    position: relative;
}

.intro-profile{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: -180px;
}

.button-wrapper{
    display: flex;
}

.button-wrapper a{
    display: inline-block;
    padding: 10px 25px;
    background-color: transparent;
    color: var(--primaryIconColor);
    border-radius: 5px;
    border: 2.5px solid var(--primaryIconColor);
    font-weight: 420;
    text-decoration: none;
    margin-right: 40px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-wrapper{
    justify-content: center;
    position: relative;
    margin-top: -75px;
}

.button-wrapper a:hover{
    background-color: var(--primaryIconColor);
    color: var(--primaryBackgroundColor);
}

.about-section{
    height: 100vh;
}

section{
    display: flex;
    height: 90vh;
    flex-wrap: wrap;
}

.titleAbout{
    display: flex;
    flex-direction: column;
    
}

.titleAbout h1{
    color: var(--primaryTextColor);
    font-size: 2rem;
}

section .divSection{
    height: 100%;
    /* width: 50%; */
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: column;
}

.imgAbout{
    width: 400px;
    height: 500px;
    display: block;
    
}

.contentAbt{
    width: 600px;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

p{
    display: block;
    unicode-bidi: isolate;
    color: var(--secondaryTextColor);
    font-size: 1rem;
}

.skill{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.3rem;
    margin-top: 1rem;
}

.skill-item{
    padding: 0.8rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    flex: 1 1 calc(30% - 1rem);
    max-width: 200px;
    flex-wrap: wrap;
}

.uiux{
    background-color: var(--primaryIconColor);
    color: var(--primaryBackgroundColor);
}

.html-css-js{
    background-color: var(--primaryIconColor);
    color: var(--primaryBackgroundColor);
}

.creativity{
    background-color: var(--secondaryIconColor);
    color: var(--primaryBackgroundColor);
}

.teamwork{
    background-color: var(--secondaryIconColor);
    color: var(--primaryBackgroundColor);
}

.adaptibility{
    background-color: var(--secondaryIconColor);
    color: var(--primaryBackgroundColor);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleProject{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.titleProject h1{
    color: var(--primaryTextColor);
}

.titleProject p{
    color: var(--secondaryTextColor);
    font-size: 1rem;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.card{
    width: 350px;
    height: 480px;
    background-color: var(--primaryBackgroundColor);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.card .label{
    position: absolute;
    left: 25px;
    background-color: var(--secondaryIconColor);
    color: var(--primaryBackgroundColor);
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 1rem;
    /* font-weight: 500; */
    z-index: 1;
}

.card img{
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
}

.card-content{
    padding: 16px;
}

.card-content h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    color: var(--primaryTextColor);
}

.card-content p{
    color: var(--secondaryTextColor);
    font-size: 1rem;
    line-height: 1.3;
    text-align: justify;
}

.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--primaryIconColor);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 25px;
    color: var(--primaryBackgroundColor);
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.card-content .btn:hover{
    background-color: var(--secondaryIconColor);
    color: var(--primaryBackgroundColor);
    transform: translateY(-5px);
}

.titleContact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
    height: 80px;
}

.titleContact h1{
    color: var(--primaryTextColor);
}

.titleContact p{
    color: var(--secondaryTextColor);
    font-size: 1rem;
}

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-inputs{
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    color: var(--secondaryTextColor);
    width: 450px;
    height: 60px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 400;
    background-color: var(--formBackgroundColor);
    border-radius: 8px;
}

.contact textarea{
    font-family: Poppins, sans-serif;
    height: 220px;
    padding-top: 15px;
    border-radius: 8px;
}

.contact-inputs:focus{
    border: 2px solid var(--primaryIconColorHover);
}

.contact-inputs::placeholder{
    color: var(--formTextColor);
}

.contact button{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    display: flex;
    align-items: center;
    padding: 15px 70px;
    font-size: 1rem;
    background-color: var(--primaryIconColor);
    color: var(--primaryBackgroundColor);
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contact button:hover{
    background-color: var(--secondaryIconColor);
    color: var(--primaryBackgroundColor);
    transform: translateY(-5px);
}

footer{
    background-color: var(--primaryIconColor);
}

.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 15px;
    color: var(--primaryIconColor);
    background-color: var(--primaryBackgroundColor);
    margin: 15px;
    border-radius: 50%;
    font-size: 1.5em;
}

.socialIcons a i{
    color: var(--primaryBackgroundColor);
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: var(--primaryIconColor);
    color: var(--primaryBackgroundColor);
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: var(--primaryBackgroundColor);
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li{
    list-style: none;
}

.footerNav ul li a{
    color: var(--primaryBackgroundColor);
    margin: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    /* background-color: var(--primaryTextColor); */
    padding: 30px;
    text-align: center;
}

.footerBottom p{
    color: var(--primaryBackgroundColor);
}